.investors {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  h4 {
    text-align: left;
  }

  .items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      max-height: 56px;
      margin-bottom: 25px;
    }

  }

  img {
    width: 150px;
    fill: white;

    &[src*=Sequoia],
    &[src*=Warner],
    &[src*=Intel] {
      max-width: 56px;
    }

    &[src*=MGM] {
      max-width: 98px;
    }
  }

  .item {
    margin-right: 25px;
  }
  
}