@import "../../shared.scss";

.splash {
	background-image: url('./background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 50px;

	.content {
		display: flex;
		padding-top: 160px;
		padding-bottom: 100px;

		@media screen and (max-width: 1300px) {
			flex-direction: column;
			align-items: center;
		}

		@media screen and (max-width: 1024px) {
			padding-bottom: 0;
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		margin-top: 100px;
		
		@media screen and (max-width: 1300px) {
			flex: none;
    		width: 100%;
			margin-top: 40px;
		}
		
		@media screen and (max-width: 768px) {
			padding-bottom: 0;
		}

		@media screen and (max-width: 635px) {
			 h2 { 
				font-size: 42px;
			 }
			 h3 { 
				font-size: 21px;
			 }
		}
		@media screen and (max-width: 358px) {
			 h2 { 
				font-size: 36px;
			 }
			 h3 { 
				font-size: 18px;
			 }
		}
	}

	.left {
		position: relative;
		font-size: 0;
		flex: 1;
		
		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: 0;
			width: 100%;
			
			background-image: url('./arcade.png');
			background-repeat: no-repeat;
			background-position: center;
			padding-top: 75%;
			mix-blend-mode: lighten;

			@media screen and (max-width: 1300px) {
    			background-size: 100%;
			}
		}

		h1 {
			display: inline-block;
			padding: 30px;
			margin-top: 60px;
			margin-left: 210px;
			margin-bottom: 0;
			font-size: 120px;
			background-image: url('./EkoLogo.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			color: rgba(255,255,255, 0);
		}

		h2 {
			position: relative;
			top: -28px;
			margin: 0;
			margin-left: 210px;
			font-size: 32px;
			text-transform: uppercase;
			@include neon;
		}
	
		@media screen and (max-width: 1300px) {
			flex: none;
			height: 25vw;
    		width: 50%;
		}

		@media screen and (max-width: 768px) {
    		width: 60%;
		}

		@media screen and (max-width: 440px) {
    		width: 75%;
		}

		@media screen and (max-width: 320px) {
    		width: 90%;
		}
		
	}

	h2{
		font-size: 52px;
		font-weight: 400;
		margin: 0;


		em{
			color: #ebab19;
			text-transform: uppercase;
			font-style: normal;
		}
	}

	h3{
		font-size: 26px;
		font-weight: 300;
		max-width: 500px;
	}

	.ctaButton{
		margin-top: 15px;
	}

	@media screen and (max-width: 768px) {
		padding-bottom: 0;
	}
}