@import "../../breakpoints.scss";
@import "../../shared.scss";

.contact {
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

    >* {
      width: 100%;
      max-width: 600px;
    }
  }

  input, textarea{
    background: black;
    color: white;

  }

  .align-center {
    text-align: center;
  }

  .form-field {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    text-align: left;

    .input-text {
      padding: 0;
      font-family: "Raleway", sans-serif;
      //text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      width: 100%;
      border-width: 0 0 1px 0;
      border-color: rgba(white, 0.5);
      transition: all 200ms ease-in-out;

      &:focus {
        outline: none;
      }
    }

    .label {
      position: absolute;
      font-family: "Raleway", sans-serif;
      //text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      color: #888;
      pointer-events: none;
      top: -25px;
      left: 0;
      transition: all 200ms ease-in-out;
    }

    &.cvRow{
      display: flex;
      flex-direction: column;
      label{
        position: relative;
      }
    }

    .input-cv + .label{
      position: relative;
      top: 0;
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
      padding: 0;
      height: 100px;
    }
  }

  .input-text:placeholder-shown + .label {
    top: -10px;
  }


  .sendButton{
    @include vaporButton('f2395a');
    width: auto;
  }
}