@import "../../breakpoints.scss";

.contact {
  form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  input, textarea{
    background: transparent;
    color: white;

  }

  .align-center {
    text-align: center;
  }

  .form-field {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    text-align: left;

    .input-text {
      padding: 0;
      font-family: "Raleway", sans-serif;
      //text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      width: 100%;
      border-width: 0 0 1px 0;
      border-color: #fff;
      transition: all 200ms ease-in-out;

      &:focus {
        outline: none;
      }
    }

    .label {
      position: absolute;
      font-family: "Raleway", sans-serif;
      //text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 15px;
      color: #888;
      pointer-events: none;
      top: -25px;
      left: 0;
      transition: all 200ms ease-in-out;
    }

    &.cvRow{
      display: flex;
      flex-direction: column-reverse;
    }

    .input-cv + .label{
      position: relative;
      top: 0;
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
      padding: 0;
      height: 100px;
    }
  }

  .input-text:placeholder-shown + .label {
    top: -10px;
  }

  .ctaButton{
    align-self: center;
    border-color: var(--color2);
    &:after{
      background: var(--color2);
    }

    @include for-tablet-portrait-up{
        align-self: flex-start;
    }

  }
}