header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

  a.logo{
    position: relative;
    top: 8px;
    color: rgba(255,255,255,0);
    font-size: 25px;
    background-image: url(./ekoengineering_logo.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    span{
      padding-left: 5px;
      font-size: 16px;
    }
  }

  nav{
    align-self: flex-end;
    display: flex;

    a{
      color: white;
      margin: 0 34px;
      font-size: 14px;
    }

    a.selected{
      opacity: 0.34;
    }
  }


}