.footer {

  .content {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    justify-content: flex-start;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    margin-right: 150px;
  }

  li {
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold; // font-weight is action funky when hovering. It affects other titles' weight.
    color: white;
    font-size: 12px;

     &:hover {
       color: #96263a;
     }
  }

}