@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');


h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
  color: white;
}

h4{
  font-size: 43px;
  position: relative;
  text-align: left;
  &:before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 5px;
    height: 5px;
    width: 50px;
    background-color: #f2395a;
  }
}

h5{
  font-size: 36px;
  margin: 4px 0;
}

section {
  width: 100%;

  .content{
    max-width: 1280px;
    margin: 0 auto;
  }
}

a{
  text-decoration: none;
  color: #f2395a;
}


.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  path {
    fill: white;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ctaButton {
  color: white;
  text-decoration: none;
  border: 1px solid #f25fe7;
  letter-spacing: 2px;
  padding: 10px 80px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;

  display: flex;
  flex-direction: column;
}
